body {
    font-family: 'Source Sans Pro', sans-serif;
}

h6 span {
    font-size: 0.75rem;
    width: 0.75rem;
}

h2 {
    font-family: coiny;
}

h2 span {
    color: #c271ff;
    
}

.offset-sm-right-1 {
    margin-right: 8.33333333%
}

.left-offset {
    margin-left:  8.33333333%
}

.header-container {
    background: url('images\ 2/pic_1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 44% 40%;
}

.header-container-pricing {
    background: url('images\ 2/pic_2.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 44% 40%;
}

.header-container-courses {
    background: url('images\ 2/pic_3.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 44% 40%;
}

.header-button {
    background-color: #c271ff;
    border-radius: 5rem;
    border: none;
}
.btn-primary:hover {
    background-color: #c271ff;
    opacity: 0.9;
}


.btn-collapse {
    background: none;
    border: none;
    display: none;
}

.smile {
    width: 3rem;
    min-height: 2.5rem;
    background-image: url('images\ 2/smile_off.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[class^='holberton_school-icon-'],
[class*='holberton-school-icon-'] {
    font-family: 'holberton_school-icon'!important;
    font-size: 3rem;
}

.holberton_school-icon-menu:before {
    content: "\e911";
    color: white;
}

.logo {
    width: 10rem;
    min-height: 2.5rem;
    background-image: url('images\ 2/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav {
    min-width: 8rem;
}

.navbar-item {
    text-align: center;
    right: 0;
}

.nav-link.text-white:hover {
    color: #c271ff!important;
    border-bottom: 2px solid white;
}
